[submodule "sgx-musl"]
	path = sgx-musl
	url = git@gitlab.doc.ic.ac.uk:mb1815/muslkl-sgx.git
[submodule "lkl"]
	path = lkl
	url = https://github.com/lkl/linux.git
[submodule "host-musl"]
	path = host-musl
	url = git://git.musl-libc.org/musl
[submodule "libevent"]
	path = tests/80-memcached/libevent
	url = https://github.com/libevent/libevent.git
